SECRET_KEY= # Здесь должен находиться ваш секретный Django-ключ

# Параметры подключения к базе данных
DB_NAME= # Название БД
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль пользователя БД
DB_HOST= # Хост подключаемой БД
DB_PORT= # Порт подключения БД

# Параметры токенов авторизации
ACCESS_TOKEN_LIFETIME= # Срок годности access-токена в минутах, по умолчанию устанавливается 5
REFRESH_TOKEN_LIFETIME= # Срок годности refresh-токена в сутках, по умолчанию устанавливается 1